body{
    background-color:#F8FAFF;
    margin: 0;
}

#logo>a{
    text-decoration: none;
    color: black;
    font-family: "Protest Guerrilla";
    letter-spacing: 2px;
}

#container{
    display: flex;
    justify-content: space-around;
    background-color: #62a2d6;
}

#nav-ul{
    display: flex;
}

#nav-ul>li{
    list-style: none;
}

#nav-ul>li>a{
    text-decoration: none;
    padding: 10px;
    margin: 20px 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 1px solid #CADBE9;
    border-radius: 10px;
}

#nav-ul>li>a:hover {
    background-color: #2b5d85;
    color: white;
}

footer{
    background-color: #62a2d6;
    padding:10px;
    font-size: 19px;
    font-family: "Lora", serif;
    text-align: center;
}

#main-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);/*3 equal columns*/
    gap:20px;
    margin: 10px 10px;
}

.main-news{
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.251);
    margin-right: auto;
}

.main-news>img{
    display: block;
    margin: auto;
}

.main-news a{
    color:black;
    font-family: "Lora", serif;
}

.main-news a:hover{
    color:red;
}

input[type=email]{
    width: 40%;
    border:none;
    border-radius: 5px;
    height: 20px;
}

input[type=submit]{
    display: block;
    background-color: #F8FAFF;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    padding:10px;
    cursor: pointer;
}

#newletter-signup{
    background-color: #2a6ea78f;
    padding:10px; 
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.247);
    font-size: 20px;
}

article{
    margin: auto;
    width: 60%;
    padding:10px;
}

article>header{
    text-align: center;
}


#about-me{
    text-align: center;
}

#about-me p{
        font-family:Georgia,sans-serif;
        font-size: 3.2vh;
}

#about-me img{
    border-radius: 300px;
}

#about-me h1{
    font-family: sans-serif, Helvetica;
}
#socials>a{
    padding:10px;
    margin: 10px;
}
#socials>a>img{
    height: 50px;
}

#dark{
    padding: 10px;
    color: black;
    border: 1px solid #CADBE9;
    margin: -10px 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #62a2d6;
    font-weight: bold;
    cursor: pointer;
}

#dark:hover{
    background-color: #2b5d85;
    color: white;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.myStyle {
    color: #bb86fc;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
}

.dark-mode a {
    color: #fff;
}

.dark-mode #logo>a{
    color:rgba(255, 255, 255, 0.785);
}


.dark-mode #container, .dark-mode footer{
     background-color: #2b5d85;
}

.dark-mode #nav-ul > li > a {
    color: #fff; 
}

.dark-mode #nav-ul > li > a:hover {
    background-color: #224b6c;
}

.dark-mode #dark{
    background-color: #2b5d85;
    color:white;
}
.dark-mode #dark:hover{
    background-color: #224b6c;
    border:1px solid white;
}